<h1 class="is-size-2 has-text-centered">Campgrounds</h1>
<div class="columns is-flex-wrap-wrap">
  {{#each campgrounds as |camp|}}
    <div class="column is-6-tablet is-4-desktop">
      <div class="card m-6">
        <header class="card-header">
          <p class="card-header-title">
            {{camp.campground_name}}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <p>{{camp.description}}</p>
          </div>
        </div>
        <footer class="card-footer">
          <a class="card-footer-item" href={{camp.url}}>Learn more</a>
          <a class="card-footer-item" id="check-weather">Check weather</a>
        </footer>
      </div>
    </div>
  {{/each}}

</div>