<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import Bulma CSS file-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- Import local stylesheet -->
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>TrailTrack</title>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="#" class="navbar-item is-size-1">TrailTrack</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="#" class="button login-button">Log In</a>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="is-size-2 has-text-centered">Bookish Adventures</h1>
            <div class="card mx-auto my-4">
              <header class="card-header">
                <p class="card-header-title">Title by Author</p>
              </header>
              <div class="card-content">
                <div class="content">Description</div>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <!--Need to hide this if they're not signed in-->
                  <span id="save"><a href="#">Save to Favorites</a></span>
                </p>
              </footer>
            </div>

            <div class="card mx-auto my-4">
              <header class="card-header">
                <p class="card-header-title">Title by Author</p>
              </header>
              <div class="card-content">
                <div class="content">Description</div>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <!--Need to hide this if they're not signed in-->
                  <span id="save"><a href="#">Save to Favorites</a></span>
                </p>
              </footer>
            </div>

            <div class="card mx-auto my-4">
              <header class="card-header">
                <p class="card-header-title">Title by Author</p>
              </header>
              <div class="card-content">
                <div class="content">Description</div>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <!--Need to hide this if they're not signed in-->
                  <span id="save"><a href="#">Save to Favorites</a></span>
                </p>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
