<form action="#" class="search-container col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" name="search" class="city-input" />
                            <label for="city">Enter City</label>
                            <button
                                type="submit"
                                class="waves-effect waves-light teal darken-1 btn">Check weather</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="section">
                <p class="flow-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Praesentium commodi provident libero impedit maxime enim
                  quidem beatae veritatis perferendis officia eligendi,
                  repellendus magni rerum! Nisi ducimus voluptatem beatae aut
                  nihil? Voluptas similique at voluptate ipsa assumenda dolorem
                  quo, inventore error atque autem consectetur facilis mollitia
                  ullam. Minima corrupti aliquid corporis voluptatibus dolorum
                  amet eum, veritatis similique numquam ab soluta possimus!
                  Itaque illo neque amet incidunt explicabo consequuntur
                  adipisci voluptate? Ratione odio quaerat temporibus cupiditate
                  nostrum nesciunt molestias! Voluptatibus saepe praesentium
                  dolorum necessitatibus vel reprehenderit quaerat fuga quod,
                  unde architecto totam? Enim modi amet, illo, veniam impedit,
                  porro maxime cum alias voluptatum architecto voluptatem ex
                  aliquid placeat quod. Nemo officia porro eum consequatur
                  alias, minima, cumque fuga, et quos numquam quod.
                </p>
              </div>
            </div>
          </div>