<div class="columns">
  <div class="column">
    <div class="hero is-large has-background">
      <div class="hero-body">
        <div class="container">
          <h2 class="title has-text-white hero-title">Go on an adventure!</h2>
          <a class="button is-outline" href="/api/campgrounds">Find campgrounds
            in Colorado</a>
          <br />
          <a class="button is-outline mt-4" href="/api/books">Find a book
            adventure</a>
        </div>
      </div>
    </div>
  </div>
</div>