<div class="column">
  <div class="hero is-large has-background">
    <div class="hero-body">
      <div class="container">
        <h2 class="title">Where would you like to go?</h2>
        <form action="#">
                  <div class="field">
                    <label class="label has-text-white">City:</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Enter a city"  />
                    </div>
                  </div>
                  <div class="control">
                    <button type="submit" class="button is-outline">Check weather</button>
                  </div>
                        </div>
                    </div>
                </form>
      </div>
    </div>
  </div>
</div>