<div class="columns">
  <div class="column">
    <div class="hero is-large has-background">
      <div class="hero-body">
        <div class="container">
          <h2 class="title has-text-white">Take an adventure!</h2>
          <button class="button is-outline" id="campgrounds-button">Find
            campgrounds in Colorado</button>
          <button class="button is-outline" id="books-button">Find a book
            adventure</button>
        </div>
      </div>
    </div>
  </div>
</div>