<!-- {{!-- Login --}} -->
<section class="hero is-transparent card">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form action="input" class="box login-form">
                        <div class="field">
                            <h1><span class="icon is-small"><i class="fas fa-sign-in-alt" aria-hidden="true"></i></span>
                                <span>Log In</span>
                            </h1>
                            <label for="email-login" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input id="email-login" type="email" placeholder="e.g. bobsmith@gmail.com"
                                    class="validate input" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password-login" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input id="password-login" type="password" placeholder="*******" class="validate input"
                                    required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="container buttons is-centered">
                            <div class="field control">
                                <button type="submit" class="button is-warning">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/login.js"></script>