<!-- {{!-- Signup --}} -->
<section class="hero is-transparent">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form action="" class="box">
                        <div class="field">
                            <h1><span class="icon is-small"><i class="fas fa-user-plus" aria-hidden="true"></i></span>
                                <span>Sign Up</span>
                            </h1>
                            <label for="username-signup" class="label">Name</label>
                            <div class="control">
                                <input id="username-signup" type="name" placeholder="username" class="validate input" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="email-signup" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input id="email-signup" type="email" placeholder="e.g. bobsmith@gmail.com"
                                    class="validate input" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password-signup" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input id="password-signup" type="password" placeholder="*******" class="validate input"
                                    required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="container buttons is-centered">
                            <div class="field control has-icons-left">
                                <button type="submit" class="button is-warning">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>